body {
  background-color: #e3e3e3;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
  }
}
.container1 {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
}
.container {
  width: 50%;
  margin: 0 auto;
  background-color: #e3e3e3;
  box-shadow: 0 0 5px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}
.questionNumber {
  padding: 10px;
  font-size: large;
  font-weight: bold;
  color: #f95959;
  margin: 14px;
}
.content {
  display: flex;
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid black;
}
.options {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  width: 80%;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid black;
}

.input1 {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.controls button {
  background-color: #333;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 38px 62px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

/* btn-pri button */

.controls button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.controls button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}
